/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require tipTip
 *= require_tree . 
*/



/* LAYOUT */
body {
	margin: 0;
	padding: 0;
	background-color: #fff;
	overflow: hidden;	
	font-family:  "Myriad pro", "Helvetica";
	position: relative;
}

canvas {
}

header {
	position: absolute;
	background-color: #414141;
	border-bottom: 1px solid #ddd;
	color: #fffff0;
	height: 50px;
	width: 100%;
	z-index: 1;
}

header a {
	font-family:  "Trebuchet MS";
/*	text-shadow: 2px 1px 0 rgba(255, 255, 255, 0.8);*/
	text-decoration: none;
}

#logo {
	float: left;
	padding: 5px;
	margin-left: 200px;
}

#logo a {
	font-size: 30px;
	font-weight: bold;
	color: #fffff0;
}

#logo span {
	margin-left: 20px;
	font-size: 16px;
	text-shadow: none;
}

#logo a:hover, nav a:hover {
	text-shadow: 1px 1px 0 rgba(200, 0, 0, 0.8);
}

nav {
	float: left;
	padding-top: 18px;
}

nav a {
	color: #fffff0;
	margin-left: 20px;
	font-size: 16px;
	text-shadow: none;
}


.logo {
	font-family:  "Trebuchet MS";
	text-shadow: 1px 1px 0 rgba(200, 200, 200, 0.8);
	font-weight: bold;
}

#buttons {
	float: right;
	padding: 15px;
	width: 300px;
}

#buttons input {
	float: left;
	margin-right: 20px;
	
}

#buttons input[type="search"], #buttons input.search {
	width: 200px;
	-webkit-border-radius: 4px; 
	-moz-border-radius: 4px;
	border-radius: 4px;
}

a {
	text-decoration: none;
	color: #cc2a2a;
}


/* DIALOGS */

.dialog {
	display: none;
}

#welcome-dialog {
	display: none;
}

#welcome-dialog form {
	display: inline;
}

#nowebgl-dialog {
	display: none;
}

.ui-dialog-titlebar {
	background-color: rgb(143, 141, 133);
	padding: 4px;
	padding-top: 10px;
	padding-left: 10px;
	font-size: 28px;
	text-shadow: 2px 1px 0 rgba(200, 200, 200, 0.8);
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.ui-dialog {
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #ccc;
	box-shadow: 5px 5px 5px #888;
	width: auto;
	background-color: #fefefe;
	padding: 10px;
	
}

.ui-dialog-content {
	padding:  5px;
	font-size: 16px;
	overflow: auto;
}

.ui-dialog-buttonpane, .buttonpane {
	border-top: 1px solid #ccc;
	text-align: right;
	padding-top: 10px;
}

.ui-widget-overlay {
	background-color: #777;
	opacity: 0.2;
	position: absolute;
	top: 0;
	left: 0;
}

.welcome-buttons {
	text-align: center;	
}

.welcome-buttons input {
	font-size: 12px;
}

#info-msg {
	position: absolute;
	bottom: 0;
	font-size: 11px;
	display: none;
}


/* Import Dialog */

.form-label .help {
	float: right;
	color: #999;
	font-size: 14px;
}

.ui-dialog form input {
/*	width: 200px;*/
}



/* Graphs show */ 


#options-dialog-button {
	position: absolute;
	top: 50px;
	right: 0px;
	border: 1px solid #ccc;
	padding: 3px 10px;
	background-color: #fff;
	z-index: 11;
}

#options-dialog {
	position: absolute;
	top: 50px;
	right: -252px;
	width: 200px;
	background-color: #f0f0f0;
	border: 1px solid #ccc;
	padding: 50px 10px 40px 40px;
	z-index: 10;
}

#graph-info {
	position: absolute;
  top: 50px;
  left: 40%;
  margin: 10px;
  background-color: #ffffe0;
  color: #333;
  padding: 5px 10px;
}
