<!DOCTYPE html>
<html>
<head>
  <title>graphit</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body >

  <header>
    <div id="logo">
      <a href="/" class="logo">graphit</a>
    </div>
    <div id="buttons">
      <form>
        <input name="q" type="search" placeholder="Search in graph" class="search">
      </form>
      <input name="q" type="button" value="Import your graph data">
    </div>
  </header>
  
  <%= yield %>


  <div id="info-msg">
    Rotate: Left Mouse Button and Move<br />
    Zoom: Left Mouse Button + Key S and Move<br /> 
    Drag: Left Mouse Button + Key D and Move
  </div>
  <div id="welcome-dialog" title="Welcome to <span class='logo'>graphit</span>">
  	<p>On this site you can visualize graph data in a 3D layout.</p>
  	<p>You may load your own data from an xml file or play around with a sample graph</p>
  	<div class="welcome-buttons">
    	<p>
    	  <!-- <input type="button" value="Import your data" /> &nbsp;or&nbsp; -->
    	  <input type="button" value="Load a sample graph" id="load-sample-graph" />
    	</p>
  	</div>
  </div>
  <div id="nowebgl-dialog" title="Welcome to <span class='logo'>graphit</span>">
  	<p>Sorry, your browser does not support WebGL!</p>
  	<p>Get one of the following browser and try again:</p>
  	<ul>
  	  <li>Firefox 4</li>
  	  <li>Safari 5.1</li>
  	  <li>Google Chrome 10</li>
  	  <li>Opera 10.11</li>
  	</ul>
  </div>
</body>
</html>
